@import "tailwindcss";
body {
  font-family: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0;
}
.ev-dashboard {
  height: 100vh !important; /* 👈 đảm bảo layout luôn full màn hình */
  overflow: hidden; /* tránh scroll ngoài */
}
